In [1]:
#imports

from lxml import html
import requests
import pandas as pd
import numpy as np
import datetime

In [2]:
now = datetime.datetime.now()
print(now.year, now.month, now.day, now.hour, now.minute, now.second)

2018 6 19 21 11 32

In [10]:
#requests

page = requests.get('https://coinmarketcap.com/')
tree = html.fromstring(page.content)
names = tree.xpath('//a[@class = "currency-name-container link-secondary"]/text()')

In [12]:
#create blank dataframe

columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'MarketCap', 'CryptoName', 'Rank']
df = pd.DataFrame(columns = columns)

In [13]:
#append hostorical data

for i in range(0, 75):
    page = requests.get('https://coinmarketcap.com/currencies/' + names[i].lower() + '/historical-data/?start=20170101&end=' + str(now.year) + str(now.month) + str(now.day))
    tree = html.fromstring(page.content)
    dates = tree.xpath('//td[@class = "text-left"]/text()')
    detail = tree.xpath('//td/text()')
    df2 = pd.DataFrame(np.array(detail).reshape(len(dates), 7), columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'MarketCap'])
    df2['CryptoName'] = names[i]
    df2['Rank'] = i + 1
    df = df.append(df2)
    print('successfully added ' + names[i].lower() + ' historical data')

successfully added bitcoin historical data
successfully added ethereum historical data
successfully added ripple historical data
successfully added bitcoin cash historical data
successfully added eos historical data
successfully added litecoin historical data
successfully added stellar historical data
successfully added cardano historical data
successfully added iota historical data
successfully added tron historical data
successfully added tether historical data
successfully added neo historical data
successfully added dash historical data
successfully added monero historical data
successfully added binance coin historical data
successfully added nem historical data
successfully added vechain historical data
successfully added ethereum classic historical data
successfully added ontology historical data
successfully added omisego historical data
successfully added qtum historical data
successfully added zcash historical data
successfully added icon historical data
successfully added bytecoin historical data
successfully added lisk historical data
successfully added decred historical data
successfully added zilliqa historical data
successfully added aeternity historical data
successfully added bitcoin gold historical data
successfully added bytom historical data
successfully added 0x historical data
successfully added siacoin historical data
successfully added verge historical data
successfully added steem historical data
successfully added bitshares historical data
successfully added augur historical data
successfully added nano historical data
successfully added rchain historical data
successfully added waves historical data
successfully added bitcoin diamond historical data
successfully added dogecoin historical data
successfully added maker historical data
successfully added wanchain historical data
successfully added bitcoin private historical data
successfully added golem historical data
successfully added stratis historical data
successfully added populous historical data
successfully added digibyte historical data
successfully added waltonchain historical data
successfully added status historical data
successfully added basic attenti... historical data
successfully added nebulas historical data
successfully added hshare historical data
successfully added huobi token historical data
successfully added iost historical data
successfully added kucoin shares historical data
successfully added aion historical data
successfully added digixdao historical data
successfully added loopring historical data
successfully added komodo historical data
successfully added gxchain historical data
successfully added bancor historical data
successfully added cryptonex historical data
successfully added reddcoin historical data
successfully added ardor historical data
successfully added aelf historical data
successfully added moac historical data
successfully added monacoin historical data
successfully added maidsafecoin historical data
successfully added ark historical data
successfully added dentacoin historical data
successfully added elastos historical data
successfully added cybermiles historical data
successfully added pivx historical data
successfully added bibox token historical data

In [14]:
#test output

df.head()

,Date,Open,High,Low,Close,Volume,MarketCap,CryptoName,Rank
0,"Jun 19, 2018",6742.39,6822.50,6709.92,6769.94,"4,057,030,000","115,306,000,000",Bitcoin,1
1,"Jun 18, 2018",6510.07,6781.14,6446.68,6734.82,"4,039,200,000","111,319,000,000",Bitcoin,1
2,"Jun 17, 2018",6545.53,6589.11,6499.27,6499.27,"3,104,020,000","111,913,000,000",Bitcoin,1
3,"Jun 16, 2018",6455.45,6592.49,6402.29,6550.16,"3,194,170,000","110,359,000,000",Bitcoin,1
4,"Jun 15, 2018",6674.08,6681.08,6433.87,6456.58,"3,955,390,000","114,084,000,000",Bitcoin,1

In [15]:
#test output cont.

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24588 entries, 0 to 534
Data columns (total 9 columns):
Date          24588 non-null object
Open          24588 non-null object
High          24588 non-null object
Low           24588 non-null object
Close         24588 non-null object
Volume        24588 non-null object
MarketCap     24588 non-null object
CryptoName    24588 non-null object
Rank          24588 non-null object
dtypes: object(9)
memory usage: 1.9+ MB

In [16]:
#create csv file as output

df.to_csv('output.csv')